@{
    Layout = null;
}



@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>The Pegasus Mission | IOT from the Edge of Space | Flight Notifications</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="~/Content/External/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/External/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="~/Content/Site.css" rel="stylesheet">
    <link href="~/Content/dashboard.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->


</head>
<body ng-app="pegasus" style="background-image: url('/img/sky.jpg'); background-repeat: no-repeat; background-size: cover;">

    @{
        Html.RenderPartial("Header");
    }

    <div class="main-inner" style="margin-top: 100px;">
        <div class="container"><br /></div>

        <div class="container">
            <div class="row">
                <div class="span6">
                    <div class="widget widget-nopad">
                     
                        <!-- /widget-header -->
                        <div class="widget-content">
                            <div class="widget-header" style="width:600px;">
                                <h3>
                                    <span class="fa fa-rocket">&nbsp;</span> Pegasus Mission Contact Info
                                </h3>
                                <span class="fa fa-minus-square-o minimizeWidget"></span>
                                
                            </div>
                            <div >

                                <br />
                              
                                <h3>                                 
                                    <a style="padding-left:5em" href="mailto:pegasusmission@outlook.com">
                                        <span class="glyphicon glyphicon-envelope"></span>
                                        Email
                                    </a>
                                </h3>
                               
                                <h3>
                                    <a style="padding-left:5em" href="http://pegasusmission.com">
                                        <span class="glyphicon glyphicon-duplicate"></span>
                                        Blog
                                    </a>
                                </h3>

                                <h3>
                                    <a style="padding-left:5em" href="http://www.facebook.com/pegasusmission">
                                        <span class="glyphicon glyphicon-share"></span>

                                        Facebook
                                    </a>
                                </h3>


                                <h3>
                                    <a style="padding-left:5em" href="http://www.twitter.com/&commat;pegasusmission">
                                        <span class="glyphicon glyphicon-globe"></span>

                                        Twitter
                                    </a>
                                </h3>


                                <br />

                            </div>
                        </div>
                    </div>





                </div>
            </div>
        </div>
    </div>

   @{
       Html.RenderPartial("Footer");
    }

</body>