<!DOCTYPE html>
<!--[if lt IE 7]>   <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>      <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>      <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>

    <meta charset="utf-8">
    <title>Pegasus Mission 2</title>
    <meta name="description" content="">

    <!-- Mobile Devices Viewport Resset-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link rel="stylesheet" href="../Content/vendor/bootstrap/css/bootstrap.min.css">

    <link rel="stylesheet" href="../Content/vendor/font-awesome/css/font-awesome.min.css">
    <!--[if IE 8]>
        <link rel="stylesheet" href="../Content/vendor/font-awesome/css/font-awesome-ie7.min.css">
    <![endif]-->

    <link rel="stylesheet" href="../Content/vendor/prettyPhoto/css/prettyPhoto.css">

    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Lato:300,400,700,400italic,700italic|Droid+Serif' rel='stylesheet' type='text/css'>

    <!-- base layout styling -->
    <link rel="stylesheet" href="../Content/css/base.css">

    <!-- components styling -->
    <link rel="stylesheet" href="../Content/css/components.css">

    <!-- template colorschemes -->
    <link rel="stylesheet" href="../Content/colorschemes/light.css">

    <script src="../Content/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>

</head>
<body style="background-color:#f2f2f2" class="font-awesome ">
    <span id="currenttime" class=""></span>
    <div id="main">
        @Html.Partial("HeroImage")
               
        <div class="section row entries bg-primary section-no-margin-bottom margin-left-main-shift">


            <div>
           
                <div>
                    <div class="block-title well-lg font-awesome margin-left-main-shift-smaller">Live Telemetry</div>
                    <div class="row" style="margin-left:40px">

                        <article class="well square-article entry col-md-4 col-lg-6">

                            <header class="entry-header">
                                <h3 class="entry-title"><b>GPS Speed (Kph)</b></h3>
                                <br />

                                <div class="red-label">Current</div>
                                <div class="num-value"><span class="bigNumbers" id="gpsSpeedKph"></span> Kph</div>

                            </header>

                        </article>

                        <article class="well square-article entry col-md-4 col-lg-6">

                            <header class="entry-header">
                                <h3 class="entry-title"><b>GPS Speed (Mph)</b></h3>
                                <div class="string-value" style="margin-top:-5px">
                                    <span id="currenttime"></span>
                                </div>
                                <br />
                                <div class="red-label">Current</div>
                                <div class="num-value"><span class="bigNumbers" id="gpsSpeedMph"></span> Mph</div>

                            </header>

                        </article>
                        <article class="well square-article entry col-md-4 col-lg-6">

                            <header class="entry-header">
                                <h3 class="entry-title"><b>GPS Direction</b></h3>
                                <div class="string-value" style="margin-top:-5px">
                                    <span id="currenttime"></span>
                                </div>
                                <br />
                                <div class="red-label">Current</div>
                                <div class="num-value"><span class="bigNumbers" id="gpsDirection"></span></div>

                            </header>

                        </article>
                        <article class="well square-article entry col-md-4 col-lg-6">

                            <header class="entry-header">
                                <h3 class="entry-title"><b>Temperature</b></h3>
                                <div class="string-value" style="margin-top:-5px">
                                    <span id="currenttime"></span>
                                </div>
                                <br />
                                <div class="red-label">Current</div>
                                <div class="num-value"><span class="bigNumbers" id="atmTemp"></span></div>

                            </header>

                        </article>

                        <article class="well square-article entry col-md-4 col-lg-6">

                            <header class="entry-header">
                                <h3 class="entry-title"><b>Humidity</b></h3>
                                <div class="string-value" style="margin-top:-5px">
                                    <span id="currenttime"></span>
                                </div>
                                <br />
                                <div class="red-label">Current</div>
                                <div class="num-value"><span class="bigNumbers" id="atmHumidity"></span></div>

                            </header>

                        </article>
                        <article class="well square-article entry col-md-4 col-lg-6">

                            <header class="entry-header">
                                <h3 class="entry-title"><b>Pressure</b></h3>
                                <div class="string-value" style="margin-top:-5px">
                                    <span id="currenttime"></span>
                                </div>
                                <br />
                                <div class="red-label">Current</div>
                                <div class="num-value"><span class="bigNumbers" id="atmPressure"></span></div>

                            </header>

                        </article>
                        <article class="well square-article entry col-md-4 col-lg-6">

                            <header class="entry-header">
                                <h3 class="entry-title"><b>Vehicle Acceleration, Direction of Travel</b></h3>
                                <div class="string-value" style="margin-top:-5px">
                                    <span id="currenttime"></span>
                                </div>
                                <br />
                                <div class="red-label">Current</div>
                                <div class="num-value"><span class="bigNumbers" id="imuLinAccelX"></span></div>

                            </header>

                        </article>
                        <article class="well square-article entry col-md-4 col-lg-6">

                            <header class="entry-header">
                                <h3 class="entry-title"><b>Vehicle Acceleration, Side-to-Side</b></h3>
                                <div class="string-value" style="margin-top:-5px">
                                    <span id="currenttime"></span>
                                </div>
                                <br />
                                <div class="red-label">Current</div>
                                <div class="num-value"><span class="bigNumbers" id="imuLinAccelY"></span></div>

                            </header>

                        </article>
                        <article class="well square-article entry col-md-4 col-lg-6">

                            <header class="entry-header">
                                <h3 class="entry-title"><b>Vehicle Acceleration, Up and down</b></h3>
                                <div class="string-value" style="margin-top:-5px">
                                    <span id="currenttime"></span>
                                </div>
                                <br />
                                <div class="red-label">Current</div>
                                <div class="num-value"><span class="bigNumbers" id="imuLinAccelZ"></span></div>

                            </header>

                        </article>
                        <article class="well square-article entry col-md-4 col-lg-6">

                            <header class="entry-header">
                                <h3 class="entry-title"><b>SoundAmp</b></h3>
                                <div class="string-value" style="margin-top:-5px">
                                    <span id="currenttime"></span>
                                </div>
                                <br />
                                <div class="red-label">Current</div>
                                <div class="num-value"><span class="bigNumbers" id="soundAmp"></span></div>

                            </header>

                        </article>
                        <article class="well square-article entry col-md-4 col-lg-6">

                            <header class="entry-header">
                                <h3 class="entry-title"><b>ImuHeading</b></h3>
                                <div class="string-value" style="margin-top:-5px">
                                    <span id="currenttime"></span>
                                </div>
                                <br />
                                <div class="red-label">Current</div>
                                <div class="num-value"><span class="bigNumbers" id="imuHeading"></span></div>

                            </header>

                        </article>
                    </div>
                </div>

                



        </div><!--/section.row.entries-->

    </div><!--#main.container-->

     <br /><br />
    @*<footer id="footer" class="footer-area">


        <div class="footer-bottom">

            <div class="container aligncenter">

                <p>&copy;2016 by Pegasus Team <p>

            </div>

        </div>

    </footer>*@
    <script>
        //CURRENT TIME
        var objToday = new Date(),
weekday = new Array('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'),
dayOfWeek = weekday[objToday.getDay()],
domEnder = function () { var a = objToday; if (/1/.test(parseInt((a + "").charAt(0)))) return "th"; a = parseInt((a + "").charAt(1)); return 1 == a ? "st" : 2 == a ? "nd" : 3 == a ? "rd" : "th" }(),
dayOfMonth = today + (objToday.getDate() < 10) ? '0' + objToday.getDate() + domEnder : objToday.getDate() + domEnder,
months = new Array('January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'),
curMonth = months[objToday.getMonth()],
curYear = objToday.getFullYear(),
curHour = objToday.getHours() > 12 ? objToday.getHours() - 12 : (objToday.getHours() < 10 ? "0" + objToday.getHours() : objToday.getHours()),
curMinute = objToday.getMinutes() < 10 ? "0" + objToday.getMinutes() : objToday.getMinutes(),
curSeconds = objToday.getSeconds() < 10 ? "0" + objToday.getSeconds() : objToday.getSeconds(),
curMeridiem = objToday.getHours() > 12 ? "PM" : "AM";
        var today = dayOfMonth + " of " + curMonth + ", " + curYear;
       
        var currenttime = document.getElementById("currenttime");
        //currenttime.innerHTML = today;
        //CURRENT TIME CODE ENDS
    </script>
    <script src="../Content/vendor/jquery-1.10.1.min.js"></script>
    <!--
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../Content/vendor/jquery-1.10.1.min.js"><\/script>')</script>
    -->

    <script src="../Content/vendor/bootstrap/js/bootstrap.min.js"></script>

    <script src="../Content/vendor/prettyPhoto/jquery.prettyPhoto.js"></script>


    <script src="../Content/vendor/jquery.unveil.min.js"></script>

    <script src="../Content/js/main.js"></script>
</body>
</html>