@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>The Pegasus Mission | IOT from the Edge of Space</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="~/Content/External/bootstrap.css" rel="stylesheet">
    @*<link href="~/Content/External/bootstrap-responsive.min.css" rel="stylesheet">*@
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="~/Content/Site.css" rel="stylesheet">
    <link href="~/Content/dashboard.css" rel="stylesheet">

    <link href="//amp.azure.net/libs/amp/1.4.0/skins/amp-default/azuremediaplayer.min.css" rel="stylesheet">
    <script src= "//amp.azure.net/libs/amp/1.4.0/azuremediaplayer.min.js"></script>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
</head>

<body ng-app="pegasus" style="background-image:url('/img/sky.jpg'); background-repeat: no-repeat; background-size: cover;">

    @{
        Html.RenderPartial("Header");
    }

    <div class="main" ng-controller="telemetry" style="margin-bottom: 52px;">
        <div class="main-inner">

            <div class="container">
                <div class="alert alert-info fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Pegasus mission will launch on the week of <b style="color: black; font-size: 1.1em;">Sept. 29, 2015!</b></strong>
                    <br /><strong><a href="/Home/Notifications">Sign up</a> for <b style="color: black; font-size: 1.1em;">SMS</b> notifications now. Don't miss the action.</strong>
                </div>
            </div>

            <div class="container">


                <div class="row">
                    <div class="col-sm-6">
                        <div class="widget widget-nopad">
                            <div class="widget-header" id="inflightVideoContainer">
                                <h3>
                                    <span class="fa fa-video-camera">&nbsp;</span> Live Inflight Video Feed (Sept 29)
                                </h3>
                                <span class="fa fa-plus-square-o minimizeWidget"></span>
                            </div>
                            <!-- /widget-header -->
                            <div class="widget-content" style="display: none;">
                                <div id='videoControl'>
                                    @if (!ViewBag.LiveVideo) {
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/rNhmYaWiPEk" frameborder="0" allowfullscreen></iframe>
                                    } else {
                                    <video id="payloadVideo" class="azuremediaplayer amp-default-skin" autoplay controls width="560" height="315" data-setup='{}'>
                                        <source src="//pegasusmission.streaming.mediaservices.windows.net/d93b81a8-7513-49f2-8f58-7527aa8f6262/c452c7fd-e9ae-4c0e-b80a-b6b6178ab2de.ism/manifest" type="application/vnd.ms-sstr+xml" />
                                        <p class="amp-no-js">
                                            To view this video please enable JavaScript, and consider upgrading to a web browser that supports HTML5 video
                                        </p>
                                    </video>
                                    }
                                </div>
                            </div>
                        </div>

                        <div class="widget widget-nopad">
                            <div class="widget-header">
                                <h3>
                                    <span class="fa fa-video-camera">&nbsp;</span> Live Launch Video Feed (Sept 29)
                                </h3>
                                <span class="fa fa-minus-square-o minimizeWidget"></span>
                            </div>
                            <!-- /widget-header -->
                            <div class="widget-content">
                                <div id='videoControl'>
                                    @if (!ViewBag.LiveVideo) {
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/wGyi0hAshVw" frameborder="0" allowfullscreen></iframe>
                                    } else {
                                    <video id="stationVideo" class="azuremediaplayer amp-default-skin" autoplay controls width="560" height="315" data-setup='{}'>
                                        <source src="//pegasusmission.streaming.mediaservices.windows.net/86791286-eaae-4f17-b023-e673543e88ff/e07e392c-b996-4184-ab5e-55d6de2ea49e.ism/manifest" />
                                        <p class="amp-no-js">
                                            To view this video please enable JavaScript, and consider upgrading to a web browser that supports HTML5 video
                                        </p>
                                    </video>
                                    }
                                </div>
                            </div>
                        </div>

                        <div class="widget widget-nopad">

                            <div class="widget-header">
                                <h3>
                                    <span class="fa fa-rocket">&nbsp;</span> Live telemetry
                                </h3>
                                <span class="fa fa-minus-square-o minimizeWidget"></span>

                            </div>

                            <div class="widget-content">
                                <div class="widget big-stats-container">
                                    <div>
                                        <div id="big_stats" class="cf">
                                            <div class="stat">
                                                <div>Atm Pressure (mB)</div> <span class="bigNumbers" ng-bind="atmosphericPressure"></span>
                                            </div>
                                            <div class="stat">
                                                <div>Temp Inside (C)</div> <span class="bigNumbers" ng-bind="tempInside"></span>
                                            </div>
                                            <div class="stat">
                                                <div>Pressure Altitude (m)</div> <span class="bigNumbers" ng-bind="pressureAltitude"></span>
                                            </div>
                                            <div class="stat">
                                                <div>Humidity</div> <span class="bigNumbers" ng-bind="humidity"></span>
                                            </div>
                                        </div>
                                        <hr />
                                        <div id="big_stats" class="cf">
                                            <div class="stat">
                                                <div>Pressure Temp (C)</div> <span class="bigNumbers" ng-bind="pressureTemp"></span>
                                            </div>
                                            <div class="stat">
                                                <div>Temp Outside (C)</div> <span class="bigNumbers" ng-bind="tempOutside"></span>
                                            </div>
                                            <div class="stat">
                                                <div>Battery 1 Level</div> <span class="bigNumbers" ng-bind="battery1Level"></span>
                                            </div>
                                            <div class="stat">
                                                <div>Battery 2 Level</div> <span class="bigNumbers" ng-bind="battery2Level"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="widget widget-nopad">
                            <div class="widget-header">
                                <h3>
                                    <span class="fa fa-location-arrow">&nbsp;</span> GPS Info
                                </h3>
                                <span class="fa fa-minus-square-o minimizeWidget"></span>

                            </div>

                            <div class="widget-content">
                                <div class="widget big-stats-container">
                                    <div>
                                        <div id="big_stats" class="cf">
                                            <div class="stat">
                                                <div>Altitude (m)</div> <span class="bigNumbers" id="gpsAltitude"></span>
                                            </div>
                                            <div class="stat">
                                                <div>Latitude</div> <span class="bigNumbers" id="gpsLatitude"></span>
                                            </div>
                                            <div class="stat">
                                                <div>Longitude</div> <span class="bigNumbers" id="gpsLongitude"></span>
                                            </div>
                                            <div class="stat">
                                                <div>Satellites</div> <span class="bigNumbers" id="gpsSatellites"></span>
                                            </div>
                                        </div>
                                        <hr />
                                        <div id="big_stats" class="cf">
                                            <div class="stat">
                                                <div>Ground Speed (k)</div> <span class="bigNumbers" id="gpsSpeed"></span>
                                            </div>
                                            <div class="stat">
                                                <div>Vertical Speed (m/s)</div> <span class="bigNumbers" id="verticalSpeed"></span>
                                            </div>
                                            <div class="stat">
                                                <div>Direction</div> <span class="bigNumbers" id="gpsDirection"></span>
                                            </div>
                                            <div class="stat">
                                                <div>Radio Strength</div> <span class="bigNumbers" id="radioStrength"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="widget widget-nopad">
                            <div class="widget-header">
                                <h3>
                                    <span class="fa fa-tasks">&nbsp;</span> Miscellaneous
                                </h3>
                                <span class="fa fa-minus-square-o minimizeWidget"></span>

                            </div>

                            <div class="widget-content">
                                <div class="widget big-stats-container">
                                    <div>
                                        <div id="big_stats" class="cf">
                                            <div class="stat">
                                                <div>UV Rays (w/cm2)</div> <span class="bigNumbers" ng-bind="uvRays"></span>
                                            </div>
                                            <div class="stat">
                                                <div>Radiation (#/min)</div> <span class="bigNumbers" ng-bind="radiationCps"></span>
                                            </div>
                                            <div class="stat">
                                                <div>Reception Errors</div> <span class="bigNumbers" ng-bind="receptionErrors"></span>
                                            </div>
                                            <div class="stat">
                                                <div>Picture Count</div> <span class="bigNumbers" ng-bind="pictureCount"></span>
                                            </div>
                                        </div>
                                        <hr />
                                        <div id="big_stats" class="cf">
                                            <div class="stat">
                                                <div>Source</div> <span class="bigNumbers" ng-bind="source"></span>
                                            </div>
                                            <div class="stat">
                                                <div>Timestamp</div> <span class="bigNumbers" ng-bind="timestamp"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="widget widget-table action-table">
                            <div class="widget-header">
                                <h3>
                                    <span class="fa fa-twitter">&nbsp;</span> Live twitter feed
                                </h3>
                                <span class="fa fa-minus-square-o minimizeWidget"></span>

                            </div>
                            <div class="widget-content" style="align-content: center; align-content: stretch; padding-left: 3%;">
                                <a class="twitter-timeline" href="https://twitter.com/PegasusMission" data-widget-id="605579741039427584">Tweets by @@PegasusMission</a>

                                <script>
                                    !function (d, s, id) {
                                        var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                                        if (!d.getElementById(id)) {
                                            js = d.createElement(s);
                                            js.id = id;
                                            js.src = p + "://platform.twitter.com/widgets.js";
                                            fjs.parentNode.insertBefore(js, fjs);
                                        }
                                    }(document, "script", "twitter-wjs");

                                </script>

                            </div>
                            <!-- /widget-content -->
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="widget">
                            <div class="widget-header">
                                <h3>
                                    <span class="fa fa-map-marker ">&nbsp;</span> Live Flight & Chase Mapping (Sept 29)
                                </h3>
                                <span class="fa fa-minus-square-o minimizeWidget"></span>

                            </div>

                            <div class="widget-content">
                                <div class="maps">
                                    @*<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d50690.26194980397!2d-122.12143953181338!3d37.43376494127794!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fa35b186a39fb%3A0x5984eee2a66a9cc2!2sMiddlefield+Rd%2C+Palo+Alto%2C+CA%2C+Stany+Zjednoczone!5e0!3m2!1spl!2spl!4v1407250117753" width="560" height="315" frameborder="0" style="border:0"></iframe>*@
                                    <div id="map-canvas" style="width: 100%; height: 480px;">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="widget">
                            <div class="widget-header">
                                <h3>
                                    <span class="fa fa-toggle-on">&nbsp;</span> Important Metrics
                                </h3>
                                <span class="fa fa-minus-square-o minimizeWidget"></span>

                            </div>

                            <div class="widget-content">
                                <div id="big_stats" class="cf">
                                    <div class="stat">
                                        <div>Video Position Up</div> <span class="bigNumbers fa" ng-class="{'fa-check' : videoPositionUp.toLowerCase() == 'true', 'fa-times' : videoPositionUp.toLowerCase() == 'false' }"></span>
                                    </div>
                                    <div class="stat">
                                        <div>LEDs Activated</div> <span class="bigNumbers fa" ng-class="{'fa-check' : ledsActivated.toLowerCase() == 'true', 'fa-times' : ledsActivated.toLowerCase() == 'false' }"></span>
                                    </div>
                                    <div class="stat">
                                        <div>Main Parachute Deployed</div> <span class="bigNumbers fa" ng-class="{'fa-check' : mainDeployed.toLowerCase() == 'true', 'fa-times' : mainDeployed.toLowerCase() == 'false' }"></span>
                                    </div>
                                    <div class="stat">
                                        <div>GPS Fix</div> <span class="bigNumbers fa" ng-class="{'fa-check' : gpsFix.toLowerCase() == 'true', 'fa-times' : gpsFix.toLowerCase() == 'false' }"></span>
                                    </div>
                                </div>
                                <hr />
                                <div id="big_stats" class="cf">
                                    <div class="stat">
                                        <div>Video Servo On</div> <span class="bigNumbers fa" ng-class="{'fa-check' : videoServoOn.toLowerCase() == 'true', 'fa-times' : videoServoOn.toLowerCase() == 'false' }"></span>
                                    </div>
                                    <div class="stat">
                                        <div>BP Servo On</div> <span class="bigNumbers fa" ng-class="{'fa-check' : bpServoOn.toLowerCase() == 'true', 'fa-times' : bpServoOn.toLowerCase() == 'false' }"></span>
                                    </div>
                                    <div class="stat">
                                        <div>Balloon Released</div> <span class="bigNumbers fa" ng-class="{'fa-check' : balloonReleased.toLowerCase() == 'true', 'fa-times' : balloonReleased.toLowerCase() == 'false' }"></span>
                                    </div>
                                </div>
                            </div>
                            @*</div>*@
                        </div>

                        <!-- /widget -->
                        <div class="widget">
                            <div class="widget-header">
                                <h3>
                                    <span class="fa fa-facebook">&nbsp;</span> Live facebook feed
                                </h3>
                                <span class="fa fa-minus-square-o minimizeWidget"></span>

                            </div>
                            <!-- /widget-header -->
                            <div class="widget-content">
                                <iframe src="https://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fpegasusmission&amp;width=570&amp;height=500&amp;colorscheme=light&amp;show_faces=false&amp;stream=true&amp;show_border=true&amp;header=false&amp;force_wall=false" scrolling="no" frameborder="0" style="border: none; overflow: hidden; width: 100%; height: 500px; background: #fff; padding-left: 5%;"></iframe>
                                <!-- /area-chart -->
                            </div>
                            <!-- /widget-content -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @{
        Html.RenderPartial("Footer"); 
    }

</body>
</html>