@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>The Pegasus Mission | IOT from the Edge of Space</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="~/Content/External/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/External/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="~/Content/Site.css" rel="stylesheet">
    <link href="~/Content/dashboard.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
</head>
<body ng-app="pegasus" style="background-image:url('/img/sky.jpg'); background-repeat: no-repeat; background-size: cover;">
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </a><a class="brand" href="index">The Pegasus Mission</a>
            </div>
        </div>
    </div>

    <div class="main" ng-controller="telemetry">
        <div class="main-inner">
            <div class="container">
                <div class="row">
                    <div class="span6">
                        <div class="widget widget-nopad">
                            <div class="widget-header">
                                <h3> <span class="fa fa-video-camera">&nbsp;</span> Live video feed
                                </h3>
                                <span class="fa fa-minus-square-o minimizeWidget"></span>
                            </div>
                            <!-- /widget-header -->
                            <div class="widget-content">
                                <div id='videoControl'>
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/rNhmYaWiPEk" frameborder="0" allowfullscreen></iframe>
                                    <!-- <video width="320" height="240" srv=>
                                        <source src="assets/dizzy.mp4" type="video/mp4"/>
                                        <source src="assets/dizzy.webm" type="video/webm"/>
                                        <source src="assets/dizzy.ogv" type="video/ogg"/>
                                        Your browser does not support the video tag.
                                    </video>-->
                                </div>
                            </div>
                        </div>

                        <div class="widget widget-nopad">
                            <div class="widget-header">
                                <h3> <span class="fa fa-rocket">&nbsp;</span> Live telemetry
                                </h3>
                                <span class="fa fa-minus-square-o minimizeWidget"></span>

                            </div>

                            <div class="widget-content">
                                <div class="widget big-stats-container">
                                    <div class="widget-content">
                                        <div id="big_stats" class="cf">
                                            <div class="stat">
                                                <div>Atm pressure</div> <span class="bigNumbers" ng-bind="atmosphericPressure"></span>
                                            </div>
                                            <div class="stat">
                                                <div>Temp inside</div> <span class="bigNumbers" ng-bind="tempInside"></span>
                                            </div>
                                            <div class="stat">
                                                <div>Pressure altitude</div> <span class="bigNumbers" ng-bind="pressureAltitude"></span>
                                            </div>
                                            <div class="stat">
                                                <div>Humidity</div> <span class="bigNumbers" ng-bind="humidity"></span>
                                            </div>
                                        </div>
                                        <hr />
                                        <div id="big_stats" class="cf">
                                            <div class="stat">
                                                <div>Pressure temp</div> <span class="bigNumbers" ng-bind="pressureTemp"></span>
                                            </div>
                                            <div class="stat">
                                                <div>Temp outside</div> <span class="bigNumbers" ng-bind="tempOutside"></span>
                                            </div>
                                            <div class="stat">
                                                <div>Battery 1 level</div> <span class="bigNumbers" ng-bind="battery1Level"></span>
                                            </div>
                                            <div class="stat">
                                                <div>Battery 2 level</div> <span class="bigNumbers" ng-bind="battery2Level"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="widget widget-nopad">
                            <div class="widget-header">
                                <h3> <span class="fa fa-location-arrow">&nbsp;</span> GPS Info
                                </h3>
                                <span class="fa fa-minus-square-o minimizeWidget"></span>

                            </div>

                            <div class="widget-content">
                                <div class="widget big-stats-container">
                                    <div class="widget-content">
                                        <div id="big_stats" class="cf">
                                            <div class="stat">
                                                <div>Altitude</div> <span class="bigNumbers" ng-bind="gpsAltitude"></span>
                                            </div>
                                            <div class="stat">
                                                <div>Latitude</div> <span class="bigNumbers" ng-bind="gpsLatitude"></span>
                                            </div>
                                            <div class="stat">
                                                <div>Longitude</div> <span class="bigNumbers" ng-bind="gpsLongitude"></span>
                                            </div>
                                            <div class="stat">
                                                <div>Satellites</div> <span class="bigNumbers" ng-bind="gpsSatellites"></span>
                                            </div>
                                        </div>
                                        <hr />
                                        <div id="big_stats" class="cf">
                                            <div class="stat">
                                                <div>Speed</div> <span class="bigNumbers" ng-bind="gpsSpeed"></span>
                                            </div>
                                            <div class="stat">
                                                <div>Vertical speed</div> <span class="bigNumbers" ng-bind="verticalSpeed"></span>
                                            </div>
                                            <div class="stat">
                                                <div>Direction</div> <span class="bigNumbers" ng-bind="gpsDirection"></span>
                                            </div>
                                            <div class="stat">
                                                <div>Radio strength</div> <span class="bigNumbers" ng-bind="radioStrength"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="widget widget-nopad">
                            <div class="widget-header">
                                <h3> <span class="fa fa-tasks">&nbsp;</span> Miscellaneous
                                </h3>
                                <span class="fa fa-minus-square-o minimizeWidget"></span>

                            </div>

                            <div class="widget-content">
                                <div class="widget big-stats-container">
                                    <div class="widget-content">
                                        <div id="big_stats" class="cf">
                                            <div class="stat">
                                                <div>UV rays</div> <span class="bigNumbers" ng-bind="uvRays"></span>
                                            </div>
                                            <div class="stat">
                                                <div>Radiation CPS</div> <span class="bigNumbers" ng-bind="radiationCps"></span>
                                            </div>
                                            <div class="stat">
                                                <div>Radiation errors</div> <span class="bigNumbers" ng-bind="receptionErrors"></span>
                                            </div>
                                            <div class="stat">
                                                <div>Picture count</div> <span class="bigNumbers" ng-bind="pictureCount"></span>
                                            </div>
                                        </div>
                                        <hr />
                                        <div id="big_stats" class="cf">
                                            <div class="stat">
                                                <div>Source</div> <span class="bigNumbers" ng-bind="source"></span>
                                            </div>
                                            <div class="stat">
                                                <div>Timestamp</div> <span class="bigNumbers" ng-bind="timestamp"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="widget widget-table action-table">
                            <div class="widget-header">
                                <h3><span class="fa fa-twitter">&nbsp;</span> Live twitter feed
                                </h3>
                                <span class="fa fa-minus-square-o minimizeWidget"></span>

                            </div>
                            <div class="widget-content" style="align-content: center; align-content: stretch">
                                <a class="twitter-timeline" href="https://twitter.com/PegasusMission" data-widget-id="605579741039427584">Tweets by @@PegasusMission</a>
                                <script>
                                    !function (d, s, id) {
                                        var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                                        if (!d.getElementById(id)) {
                                            js = d.createElement(s);
                                            js.id = id;
                                            js.src = p + "://platform.twitter.com/widgets.js";
                                            fjs.parentNode.insertBefore(js, fjs);
                                        }
                                    }(document, "script", "twitter-wjs");
                                </script>

                            </div>
                            <!-- /widget-content -->
                        </div>
                    </div>

                    <div class="span6">
                        <div class="widget">
                            <div class="widget-header">
                                <h3> <span class="fa fa-map-marker ">&nbsp;</span> Live location feed
                                </h3>
                                <span class="fa fa-minus-square-o minimizeWidget"></span>

                            </div>

                            <div class="widget-content">
                                <div class="maps">
                                    @*<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d50690.26194980397!2d-122.12143953181338!3d37.43376494127794!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fa35b186a39fb%3A0x5984eee2a66a9cc2!2sMiddlefield+Rd%2C+Palo+Alto%2C+CA%2C+Stany+Zjednoczone!5e0!3m2!1spl!2spl!4v1407250117753" width="560" height="315" frameborder="0" style="border:0"></iframe>*@
                                    <div id="map_canvas" style="width: 100%; height: 480px;">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="widget">
                            <div class="widget-header">
                                <h3> <span class="fa fa-toggle-on">&nbsp;</span> Important Metrics
                                </h3>
                                <span class="fa fa-minus-square-o minimizeWidget"></span>

                            </div>

                            <!-- /widget-header -->
                            @*<div class="widget-content">*@
                            
                                <div class="widget-content">
                                    <div id="big_stats" class="cf">
                                        <div class="stat">
                                            <div>Video position up</div> <span class="bigNumbers fa" ng-class="{'fa-check' : videoPositionUp.toLowerCase() == 'true', 'fa-times' : videoPositionUp.toLowerCase() == 'false' }"></span>
                                        </div>
                                        <div class="stat">
                                            <div>Leds activated</div> <span class="bigNumbers fa" ng-class="{'fa-check' : ledsActivated.toLowerCase() == 'true', 'fa-times' : ledsActivated.toLowerCase() == 'false' }"></span>
                                        </div>
                                        <div class="stat">
                                            <div>Main deployed</div> <span class="bigNumbers fa" ng-class="{'fa-check' : mainDeployed.toLowerCase() == 'true', 'fa-times' : mainDeployed.toLowerCase() == 'false' }"></span>
                                        </div>
                                        <div class="stat">
                                            <div>GPS fix</div> <span class="bigNumbers fa" ng-class="{'fa-check' : gpsFix.toLowerCase() == 'true', 'fa-times' : gpsFix.toLowerCase() == 'false' }"></span>
                                        </div>
                                    </div>
                                    <hr />
                                    <div id="big_stats" class="cf">
                                        <div class="stat">
                                            <div>Video servo on</div> <span class="bigNumbers fa" ng-class="{'fa-check' : videoServoOn.toLowerCase() == 'true', 'fa-times' : videoServoOn.toLowerCase() == 'false' }"></span>
                                        </div>
                                        <div class="stat">
                                            <div>BP servo on</div> <span class="bigNumbers fa" ng-class="{'fa-check' : bpServoOn.toLowerCase() == 'true', 'fa-times' : bpServoOn.toLowerCase() == 'false' }"></span>
                                        </div>
                                        <div class="stat">
                                            <div>Balloon released</div> <span class="bigNumbers fa" ng-class="{'fa-check' : balloonReleased.toLowerCase() == 'true', 'fa-times' : balloonReleased.toLowerCase() == 'false' }"></span>
                                        </div>
                                    </div>
                                </div>
                                @*</div>*@
                        </div>

                        <!-- /widget -->
                        <div class="widget">
                            <div class="widget-header">
                                <h3><span class="fa fa-facebook">&nbsp;</span> Live facebook feed
                                </h3>
                                <span class="fa fa-minus-square-o minimizeWidget"></span>

                            </div>
                            <!-- /widget-header -->
                            <div class="widget-content">
                                <iframe src="https://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fpegasusmission&amp;width=250&amp;height=500&amp;colorscheme=light&amp;show_faces=false&amp;stream=true&amp;show_border=true&amp;header=false&amp;force_wall=false" scrolling="no" frameborder="0" style="border: none; overflow: hidden; width: 100%; height: 500px; background: #fff"></iframe>
                                <!-- /area-chart -->
                            </div>
                            <!-- /widget-content -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="extra">
        <div class="extra-inner">
            <div class="container">
                <div class="row">
                    <div class="span4">
                        <h4>The Pegasus Mission</h4>
                        <ul>
                            <li><a target="_blank;" href="http://pegasusmission.com/">Original Website</a></li>
                            <li><a target="_blank;" href="http://pegasusmission.com/about/">About us</a></li>
                        </ul>
                    </div>
                    <div class="span4">
                        <h4>Social</h4>
                        <ul>
                            <li><a target="_blank;" href="https://twitter.com/PegasusMission">Twitter</a></li>
                            <li><a target="_blank;" href="https://www.facebook.com/pegasusmission">Facebook</a></li>
                        </ul>
                    </div>
                    <div class="span4">
                        <h4>Phone apps</h4>
                        <ul>
                            <li><a href="">Android</a></li>
                            <li><a href="">Windows phone</a></li>
                            <li><a href="">iPhone</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/External/jquery-1.7.2.min.js"></script>
    <script src="~/Scripts/External/bootstrap.js"></script>
    <script src="~/Scripts/External/angular.min.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/base.js"></script>
    <script src="~/Scripts/telemetry.js"></script>
</body>
</html>