<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="mapCenterLat" value="41.097195"/>
    <add key="mapCenterLon" value="-87.908331"/>
    <add key="websocketHost" value="ws://broker.pegasusmission.io/api/connect"/>
    <!--<add key="websocketHost" value="ws://localhost:11748/api/connect"/>-->

    <add key="subprotocol" value="coap.v1"/>
    <add key="gatewaySource" value="mobile"/>
    <add key="zoomLevel" value="15"/>
    <add key="issuer" value="urn:pegasusmission.io"/>
    <add key="audience" value="http://broker.pegasusmission.io/api/connect"/>
    <add key="signingKey" value="cW0iA3P/mhFi0/O4EAja7UuJ16q6Aeg4cOzL7SIvLL8="/>

    <add key="baudRate" value="38400"/>
    <add key="dataBits" value="8"/>
    <add key="stopBits" value="One"/>
    <add key="parity" value="None"/>
    <add key="port" value="11000"/>
    <add key="deviceIP" value="NONE"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>