<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TwilioAccountSid" value="AC1f52aec5800a2fc49d69d4ac071faf3a" />
    <add key="TwilioAuthToken" value="ade0326b50bbd14e79fa5cba821050e9" />
    <add key="TwilioPhoneNumber" value="+17695531000" />
    <add key="emailUsername" value="azure_502ffc063bbd7c8239eb7e7c876abbc6@azure.com" />
    <add key="emailPassword" value="7uck3rau" />
    <add key="tokenSymmetricKey" value="DiZgABsT5shsfoAoWlbtvEjSgS3Y0tX9PSx4NM2H/no=" />
    <add key="tokenIssuer" value="http://pegasus2.com" />
    <add key="tokenAudience" value="http://pegasus2.com" />
    <add key="tokenLifetimeMinutes" value="86400" />
    <add key="storageAccountName" value="pegasus2" />
    <add key="storageKey" value="M7Fh6ZzuL626vQ5YC2wcLMCBnEC3NmgXyoBuZjfwfrqCzFykJknKxfHmHxFE15br1/XQIJMkIVtGxwIwcDvoPw==" />
    <add key="userTableName" value="users" />
    <add key="phoneTableName" value="phones" />
    <add key="phoneMessageTableName" value="PhoneMessages" />
    <add key="userMessageTableName" value="UserMessages" />
    <add key="WebPurifyUrl" value="http://api1.webpurify.com/services/rest/" />
    <add key="WebPurifyAppKey" value="0659d5fb507476d55561f438c3b7f239" />
    <add key="ArmPressure" value="770" />
    <add key="ForecastTimeSeconds" value="90" />
    <add key="MdpPressure" value="644.4" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>