<nav class="navbar navbar-fixed-bottom">
    <div class="extra">
        <div class="extra-inner">
            <div class="container">
                <div class="row">

                    <div class="col-sm-6 col-xs-7">
                        <a target="_blank;" href="http://www.apple.com/itunes/charts/free-apps/">
                            <img src="/img/apple-store-download-135px.png" class="img-rounded">
                        </a>
                        <a target="_blank;" href="https://play.google.com/store/apps">
                            <img src="/img/google-play-store-download-135px.png" class="img-rounded">
                        </a>
                        <a target="_blank;" href="https://www.microsoft.com/en-us/store/apps/windows-phone">
                            <img src="/img/windows-phone-135px.png" class="img-rounded">
                        </a>
                    </div>
                    <div class="col-sm-6 col-xs-5">
                        <div class="twitterFooterContainer img-rounded">
                            <a target="_blank;" href="https://twitter.com/PegasusMission">
                                <div class="twitterFooterContent">Twitter</div>
                            </a>
                        </div>
                        <div class="fbFooterContainer img-rounded">
                            <a target="_blank;" href="https://www.facebook.com/pegasusmission">
                                <div class="fbFooterContent">Facebook</div>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</nav>

<script src="~/Scripts/External/jquery-1.7.2.min.js"></script>
<script src="~/Scripts/External/bootstrap.js"></script>
<script src="~/Scripts/External/angular.min.js"></script>
<script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script>
<script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
<script src="~/signalr/hubs"></script>
<script src="~/Scripts/base.js"></script>
<script src="~/Scripts/telemetry.js"></script>