<nav class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <div class="navbar-header">
                @*<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>*@
                <a class="brand" href="#"><h1>The Pegasus Mission</h1></a>
            </div>
            <div class="collapse navbar" id="myNavbar">
                <div>
                    <ul class="nav nav-pills" style="float: right;margin-top: 9px;">
                        <li class="active"><a href="../Home/Index"><h4>Home</h4></a></li>
                        <li class="active"><a href="../Home/Notifications"><h4>Flight SMS Notifications</h4></a></li>
                        <li class="active"><a href="../Home/Contact"><h4>Contact the Team</h4></a></li>
                        <li class="active"><a href="../Home/About"><h4>About Us</h4></a></li>
                        <li class="active"><a target="_blank" href="http://pegasusmission.com/"><h4>Pegasus Mission</h4></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</nav>

@*<nav class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <div class="navbar-header">
                    <a class="brand" href="#"><h1>The Pegasus Mission</h1></a>
                </div>
            </div>
            <div class="container">
                <div>
                    <ul class="nav nav-pills">
                        <li class="active"><a href="../Home/Index"><h4>Home</h4></a></li>
                        <li class="active"><a href="../Home/Notifications"><h4>Flight SMS Notifications</h4></a></li>
                        <li class="active"><a href="../Home/Contact"><h4>Contact the Team</h4></a></li>
                        <li class="active"><a href="../Home/About"><h4>About Us</h4></a></li>
                        <li class="active"><a href="http://pegasusmission.com/"><h4>Pegasus Mission</h4></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>*@
