<nav class="navbar navbar-inverse navbar-static-top" role="navigation" style="background-color:black;">
    <div class="container">
        <div class="navbar-header" style="padding: 10px; padding-right:60px;">
            <span style="color:white;cursor:default;font-weight:500; font-size:36px;line-height:1.2;" class="brand" href="#">The Pegasus Mission</span>
            <button style="float:right" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav" style="padding-top: 12px;margin-left: 58px">
                <li><a href="/">Home</a></li>
                <li><a href="/Home/Notifications">SMS notifications</a></li>
                <li><a href="/Home/Contact">Contact us</a></li>
                <li><a href="/Home/About">About</a></li>
                <li><a target="_blank" href="http://pegasusmission.com/">Pegasus Mission</a></li>
            </ul>
        </div>
    </div>
</nav>
