<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="issuer" value="urn:pegasusmission.io"/>
    <add key="audience" value="http://broker.pegasusmission.io/api/connect"/>
    <add key="signingKey" value="cW0iA3P/mhFi0/O4EAja7UuJ16q6Aeg4cOzL7SIvLL8="/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>